// general
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

// parts of the gui
#app {
    width: 100vw;
    height: 100vh;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
#content {
    flex-grow: 1;
    display: flex;
}
#code-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#code-panel {
    flex-grow: 1;
}
#world-panel {
    flex-grow: 1;
}
#contextmenu {
    background-color: $green;
    color: $white;
}
