.gutter {
    background-color: #eee;

    background-position: 50%;
    background-repeat: no-repeat;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-image: url('~split.js/grips/vertical.png');
}

.gutter.gutter-vertical {
    cursor: ns-resize;
    background-image: url('~split.js/grips/horizontal.png');
}
